html {
  margin: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0;
}

header {
  width: 100%;
  border: 1px solid #707070;
  height: 500px;
}

.headerImage {
  object-fit: cover;
  height: 500px;
  z-index: -1;
  width: 100%;
}

.headerTextContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.headerText {
  height: 149px;
  font-family: "Montserrat", sans-serif;
  color: white;
  position: relative;
  z-index: 3;
  bottom: 400px;
  width: 300px;
  margin-left: 40px;
}

h1 {
  text-align: left;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  position: relative;
  width: 200px;
  height: 60px;
}

.portfolioName {
  display: flex;
  flex-direction: row;
  width: 300px;
}

p.portfolio {
  text-align: left;
  font-family: "Roboto";
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0.52px;
  color: #ffffff;
  opacity: 1;
}

div.name {
  text-align: left;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.52px;
  color: #ffffff;
  opacity: 1;
  width: 100%;
  position: relative;
  top: 13px;
  margin-left: 20px;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10%;
  position: relative;
  z-index: 1;
  bottom: 450px;
}

.icon {
  margin-top: 10%;
  width: 40px;
  height: 39px;
  border-radius: 100%;
  border: 2px solid white;
  margin-right: 5px;
  background: rgb(236, 235, 235);
}

.iconImg {
  color: white;
  width: 20px;
  height: 20px;
}

.profileImage {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  bottom: 300px;
}

.profileImg {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 5px solid white;
  margin-right: 5%;
}

.headerTextContainer {
}
.containerProfile {
  display: flex;
  justify-content: center;
  background: #f4f4f4 0% 0% no-repeat padding-box;
}

.containerTech {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.techH3 {
  display: flex;
  justify-content: center;
}

/* Project Container */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containerProject {
  width: 100%;
  background: #f4f4f4 0% 0% no-repeat padding-box;
}

h3.projects {
  position: relative;

  width: 250px;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.projectImg {
  width: 300px;
  margin-top: 50px;
}

.h3Posts {
  display: flex;
  justify-content: center;
  background: white;
}

h3 {
  position: relative;
  width: 62px;
  height: 27px;
  text-align: left;
  font: Bold 22px/27px Montserrat;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  background: red;
  text-align: center;
  margin-top: 50px;
}

.posts {
  width: 190px;
}

.h3Projects {
  display: flex;
  justify-content: center;
  background: #f4f4f4 0% 0% no-repeat padding-box;
}

p.techText {
  text-align: center;

  width: 303px;
  height: 228px;
}

p.profileText {
  text-align: justify;
  padding-top: 60px;
  left: 37px;
  width: 302px;
  height: 228px;
}

.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100;
}

.projectContent {
  display: flex;
}

h4 {
  color: red;
  font-weight: bold;
  margin-bottom: 0px;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tags p {
  font-size: 10px;
  padding: 5px 10px;
  margin-left: 5px;
  background: #fddfe7;
}

/* My thoughts about code */

.containerPosts {
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
}

.postContent {
  padding: 20px;
}
.postParaHeader {
  text-transform: uppercase;
  font-weight: bold;
}
.postParagraph {
  text-align: justify;
}

/* Skills */

.containerSkills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background: #f4f4f4 0% 0% no-repeat padding-box;
}
.h3Skills {
  display: flex;
  justify-content: center;
  background: #f4f4f4;
  margin: 0;
}

.skills {
  width: 100px;
}

.skillsContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

li {
  list-style-type: none;
  text-align: center;
  padding: 3px;
}

span {
  color: red;
}

/* For more info */

.moreInfo {
  background: white;
}
.h3More {
  display: flex;
  justify-content: center;
}

.forMore {
  width: 150px;
}

.iconMoreContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -moz-justify-content: space-evenly;
  margin: 0;
}

.iconMore {
  margin-top: 10%;
  width: 50px;
  height: 49px;
  border-radius: 100%;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  background: white;
}

.iconImgBottom {
  color: white;
  position: relative;
  top: 7px;
  width: 30px;
  height: 30px;
}

.iconTextContainer {
  display: flex;
  justify-content: space-around;
  -moz-justify-content: space-evenly;
  margin-top: 10px;
}

p.iconText,
.iconTextStack {
  font-size: 14px;
  width: 200px;
  color: red;
  font-weight: bold;
  display: flex;
  margin-left: -14px;
  -moz-justify-content: space-evenly;
}

/*Footer */

footer {
  width: 100%;
  margin-top: 100px;
  background: #072bce;
  height: 250px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.footerContent {
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  line-height: 1px;
  margin-top: 50px;
}

h5.footer {
  padding-bottom: 20px;
  font-size: 20px;
}

a.contact {
  color: white;
  text-decoration: none;
}

@media (min-width: 600px) {
  body {
    margin: 0 auto;
  }

  .headerTextContainer {
    position: relative;
    bottom: 60px;
  }
  .iconContainer {
    bottom: 500px;
  }

  .headerText {
    width: 400px;
    margin-left: 200px;
  }
  h1 {
    font-size: 30px;
  }

  p.portfolio,
  div.name {
    font-size: 14px;
  }
  p.profileText {
    margin-top: 50px;
    width: 500px;
    text-align: justify;
  }

  .profileImage {
    bottom: 400px;
  }

  .projectContent {
    flex-direction: row;
  }

  h4 {
    margin-bottom: 20px;
  }

  .postParagraph {
    width: 500px;
  }
  .skillsContent {
    justify-content: center;
  }
}

@media (min-width: 900px) {
  body {
    width: 100%;
  }

  .headerImage {
    width: 100%;
  }

  .headerTextContainer {
    position: relative;
    justify-content: center;
    bottom: 90px;
  }

  .headerText {
    width: 700px;
  }

  h1 {
    font-size: 35px;
    top: -20px;
  }

  .profileImg {
    height: 200px;
    width: 200px;
  }

  .profileImage {
    bottom: 400px;
    right: 100px;
  }

  .profileText {
    width: 800px;
  }

  .postParagraph {
    width: 600px;
  }

  .skillsContent {
    justify-content: center;
  }
}
